{% extends "base.html" %}
{% block content %}

<!-- Zobrazení obrázků pro danou aukci -->
{% if auction.images.all %}
    <h3>Images:</h3>
    <div>
        {% for image in auction.images.all %}
            <a href="{{ image.image.url }}" data-lightbox="auction-images"><img src="{{ image.image.url }}" alt="Image for {{ auction.name_auction }}" style="width: 300px; height: auto;"></a>
        {% endfor %}
    </div>
{% else %}
    <p>No images for this auction.</p>
{% endif %}
<h2>{{ auction.name_auction }}</h2>
<p>Category: {{ auction.category }}</p>
<p>Description: {{ auction.description }}</p>

<!-- Odkaz na detail uživatele, který vytvořil aukci -->
<p>Auction Creater: <a href="{% url 'user_detail' auction.user_creator.id %}">{{ auction.user_creator }}</a></p>

<p>Auction Starts: {{ auction.auction_start_date|date:"d.m.Y H:i:s" }}</p>
<p>Auction Ends: {{ auction.auction_end_date|date:"d.m.Y H:i:s" }}</p>
<p>Numbers of Views: {{ auction.number_of_views }}</p>
    {% if auction_expired %}
    <p>Auction has expired</p>
{% else %}
    <p>Time Left: {{ days }} days, {{ hours }} hours, {{ minutes }} minutes</p>
{% endif %}

{% if auction.auction_type == 'buy_now' %}
    <p>Price: {{ auction.buy_now_price }} Kč</p>
    <h3>Buy Now</h3>

    {% if auction_expired %}
        <p style="color: red;">This auction has already expired. It cannot be bought.</p>
    {% else %}
        <form method="post" action="{% url 'add_to_cart' auction.pk %}">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
        </form>
    {% endif %}
{% endif %}

{% if auction.auction_type == 'place_bid' %}
    <p>Starting Price: {{ auction.start_price }} Kč</p>
    {% if auction.price %}
        <p>Price: {{ auction.price }} Kč</p>
    {% endif %}
    <p>Minimum Bid: {{ auction.minimum_bid }} Kč</p>

    {% if auction_expired %}
        <p style="color: red;">The auction has already ended. It is not possible to add more bids.</p>
    {% else %}
        {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="new_bid">Your Bid:</label>
            <input type="number" name="new_bid" min="1" required>
            <button type="submit">Place Bid</button>
        </form>
    {% endif %}
    
    <h2>Bids</h2>
    {% if bids %}
        <table>
            <thead>
                <tr>
                    <th>Price</th>
                    <th>Bid</th>
                    <th>Time</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                {% for bid in bids %}
                <tr>
                    <td>{{ bid.price }}</td>
                    <td>{{ bid.amount }} Kč</td>
                    <td>{{ bid.timestamp|date:"d.m.Y H:i:s" }}</td>
                    <!-- Odkaz na detail uživatele, který přihodil -->
                    <td><a href="{% url 'user_detail' bid.user.id %}">{{ bid.user }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No bids yet.</p>
    {% endif %}
{% endif %}

<a href="javascript:history.back()" style="text-decoration: none; color: inherit;">Back to Previous Page</a>

        <script>
    // Uložit pozici při kliknutí na stránkovací odkazy
    document.addEventListener('DOMContentLoaded', function() {
        const paginationLinks = document.querySelectorAll('.pagination a');

        paginationLinks.forEach(link => {
            link.addEventListener('click', function() {
                // Uložit aktuální scroll pozici do localStorage
                localStorage.setItem('scrollPosition', window.scrollY);
            });
        });

        // Obnovit pozici při načtení stránky
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, scrollPosition);
            // Odstranit uloženou pozici, aby se nepoužila při dalších změnách stránek
            localStorage.removeItem('scrollPosition');
        }
    });
</script>    
    
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

{% endblock %}