{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Vyhledávání aukcí</h1>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Vyhledat</button>
    </form>

    <h2>Výsledky vyhledávání</h2>

    {% if searchs %}
        <ul>
            {% for auction in searchs %}
                <li>
                
                {% if auction.photo %}
                        <img src="{{ auction.photo.url }}" alt="{{ auction.name }}" style="max-width: 200px;">
                    {% endif %}<br>
                
                    <h3>{{ auction.name_auction }}</h3>
                    <p>Kategorie: {{ auction.category }}</p>
                    <p>Cena: {{ auction.price }} | Buy Now cena: {{ auction.buy_now_price }}</p>
                    <p>Datum začátku: {{ auction.auction_start_date }} | Datum konce: {{ auction.auction_end_date }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nebyly nalezeny žádné aukce.</p>
    {% endif %}    
    
    
{#    <h1>Search Results</h1>#}
{#    {% if searchs %}#}
{#        <ul>#}
{#            {% for ad in searchs %}#}
{#                <li>#}
{#                     {% if ad.photo %}#}
{#                        <img src="{{ ad.photo.url }}" alt="{{ ad.name }}" style="max-width: 200px;">#}
{#                    {% endif %}<br>#}
{#                    <strong>{{ ad.name_auction }}</strong><br>#}
{#                    Category: {{ ad.category }}<br>#}
{#                    Description: {{ ad.description }}<br>#}
{#                    Auction creator: {{ ad.user_creator }}<br>#}
{#                    {% if ad.name_buyer %}#}
{#                    Auction buyer: {{ ad.name_buyer }}<br>#}
{#                    {% endif %}</br><br>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        <p>No results found for your search.</p>#}
{#    {% endif %}#}
{% endblock %}