{% extends "base.html" %}

{% block content %}
<h1>Detail search</h1>

<form method="get" action="{% url 'podrobne_hledani' %}">
{% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br>

        <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="">--Category--</option>
        {% for category in categorys %}
            <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
    </select><br>

    <label for="user">User:</label>
    <input type="text" name="user" id="user"><br>


    <button type="submit">Hledat</button>
</form>

    <h1>Search Results</h1>
    {% if searchs %}
        <ul>
            {% for ad in searchs %}
                <li>
                     {% if ad.photo %}
                        <img src="{{ ad.photo.url }}" alt="{{ ad.name }}" style="max-width: 200px;">
                    {% endif %}<br>
                    <strong>{{ ad.name_auction }}</strong><br>
                    Category: {{ ad.category }}<br>
                    Description: {{ ad.description }}<br>
                    Auction creater: {{ ad.user_creater }}<br>
                    {% if ad.name_buyer %}
                    Auction buyer: {{ ad.name_buyer }}<br>
                    {% endif %}</br><br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found for your search.</p>
    {% endif %}    
    
    
    
    
<h3>Výsledky hledání:</h3>
<ul>
    {% for advertisement in advertisements %}
        <li>{{ advertisement.name }} - {{ advertisement.user }} - {{ advertisement.category }}</li>
    {% empty %}
        <li>Žádné výsledky nenalezeny.</li>
    {% endfor %}
</ul>
{% endblock %}