{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h1>Jewelry</h1>

    <h3>Poslední přidané inzeráty kup teď:</h3>

<!-- Kontejner pro všechny inzeráty -->
<div class="add_auction-container">
    {% load humanize %}
    {% for add_auction in buy_now_add_auctions %}
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-2">
                {% if add_auction.photo %}
                    <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2000" data-image-height="1330" src="{{ add_auction.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                {% else %}
                    <p>No image available</p> <!-- Placeholder for when there is no photo -->
                {% endif %}
                <p class="u-align-center u-text u-text-5">{{ add_auction.category }} - {{ add_auction.name }}</p>
                <p class="u-align-center u-text u-text-6">{{ add_auction.price|price_format }} Kč</p>
                <p class="u-align-center u-text u-text-7"><del>19.000 Kč</del></p>
                <a href="{% url 'add_auction_update' add_auction.pk %}">upravit</a>
                <a href="{% url 'add_auction_delete' add_auction.pk %}">smazat</a>
            </div>
        </div>
    {% endfor %}
</div>


    <h3>Poslední přidané inzeráty s promotion:</h3>

<!-- Kontejner pro všechny inzeráty -->
<div class="add_auction-container">
    {% for add_auction in promotion_add_auctions %}
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-2">
                {% if add_auction.photo %}
                    <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2000" data-image-height="1330" src="{{ add_auction.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                {% else %}
                    <p>No image available</p> <!-- Placeholder for when there is no photo -->
                {% endif %}
                <p class="u-align-center u-text u-text-5">{{ add_auction.category }} - {{ add_auction.name }}</p>
                <p class="u-align-center u-text u-text-6">{{ add_auction.price|price_format }} Kč</p>
                <p class="u-align-center u-text u-text-7"><del>19.000 Kč</del></p>
                <a href="{% url 'add_auction_update' add_auction.pk %}">upravit</a>
                <a href="{% url 'add_auction_delete' add_auction.pk %}">smazat</a>
            </div>
        </div>
    {% endfor %}
</div>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


    <h3>Poslední přidané inzeráty bez promotion:</h3>

<!-- Kontejner pro všechny inzeráty -->
<div class="add_auction-container">
    {% for add_auction in no_promotion_add_auctions %}
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-2">
                {% if add_auction.photo %}
                    <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2000" data-image-height="1330" src="{{ add_auction.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                {% else %}
                    <p>No image available</p> <!-- Placeholder for when there is no photo -->
                {% endif %}
                <p class="u-align-center u-text u-text-5">{{ add_auction.category }} - {{ add_auction.name }}</p>
                <p class="u-align-center u-text u-text-6">{{ add_auction.price|price_format }} Kč</p>
                <p class="u-align-center u-text u-text-7"><del>19.000 Kč</del></p>
                <a href="{% url 'add_auction_update' add_auction.pk %}">upravit</a>
                <a href="{% url 'add_auction_delete' add_auction.pk %}">smazat</a>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}