{% extends "base.html" %}
{% block content %}

<h1>Platba za {{ payment_type }}</h1>

<form action="{% url 'payment' payment_type %}" method="post">
    {% csrf_token %}

    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ stripe_public_key }}"
        data-name="Premium Account"
        data-description="{% if payment_type == 'subscription' %}Platba za prémiový účet{% else %}Platba za položky v košíku{% endif %}"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="czk"
        data-amount="{% if payment_type == 'subscription' %}25000{% else %}{{ cart_total_amount }}{% endif %}">  <!-- 250 Kč v haléřích -->
    </script>

    <button type="submit" id="checkout-button">
        Zaplatit
    </button>
</form>

{% endblock %}